p.infobox.multilang h3 {
    font-size: 12px;
    height: 25px;
}
#infobox > div.moreinfo ul li, #infobox > div.colophon ul li {
   list-style: square outside !important;
    margin-left: 10px;
    color: #ccc;
}

div.moreinfo div.inner ul li {
   height: auto !important;
   line-height: 1.2em;
   font-size: 11px;
}
